#include <pgmspace.h>

#define IOT_SUBSCRIBE_TOPIC "sensor/camera/laptop"
#define THINGNAME "on-air-display"
#define LED_PIN   5
#define LED_COUNT 8

const char WIFI_SSID[] = "xxx";
const char WIFI_PASSWORD[] = "xxxxx";
const char IOT_ENDPOINT[] = "192.168.1.100";
const char IOT_USER[] = "mqtt";
const char IOT_PASSWORD[] = "broker";
const int IOT_PORT = 1883;
